@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	box-sizing: border-box;
}

.navigation {
	display: flex;
	align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
}
.action-btn {
  	background-color: transparent;
  	border: 0;
  	color: #dfdbdf;
  	font-size: 15px;
  	cursor: pointer;
  	padding: 7px;
  	margin: 0 10px;
  	transition: 0.3s;
}
.action-btn:hover {
	font-size: 20px;
}
.action-btn-big:hover {
	font-size: 30px;
	margin-bottom: 0px;
}

.action-btn-big {
  	color: #dfdbdf;
  	font-size: 25px;
}
.action-btn:focus {
  outline: 0;
}


.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.vol {
  display: flex;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  /*background: #d3d3d3;*/
  background: white;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a3a3a3;
  cursor: pointer;
  border: 2px solid white;
}

.slider::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #a3a3a3;
  cursor: pointer;
}
.slider-pos {
  margin-left: 5px;
  margin-top: 4px;
}